
.credit-wrapper {
    margin-top: auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding-top: 20px;
}

.credit-wrapper svg {
    width: 38px;
    padding: 3px;
    border-radius: 6px;
    margin-right: 12px;
}

.credit-wrapper path {
    width: 24px;
}

.credit-money {
    margin-left: auto;
}

.credit-money.is-active {
    color: #1aa385;
}

.credit-money.is-cancel {
    color: #d14b69;
}

.credit-money .is-wait {
    color: #3E4EC2;
}

.credit-status {
    font-size: 13px;
    font-weight: normal;
}

.credit-type {
    color: #e7e8ea;
    margin-bottom: 6px;
}


    .wrapper {
        max-width: 1200px;
    }

    .activity {
        width: 49%;
        max-width: none;
    }

    .discount {
        width: 48%;
        max-width: none;
    }

    .first-box {
        flex-wrap: wrap;
    }

    .first-box .cards-wrapper {
        width: 67%;
        max-width: none;
        margin: 20px 0;
    }

    .first-box .cards-wrapper .item.is-active {
        background: none;
        color: inherit;
    }

    .first-box .account-wrapper {
        max-width: none;
        width: calc(33% - 20px);
        margin: 20px 0 20px 20px;
    }

    .second-box {
        flex-wrap: wrap;
            //max-width: 80vw;
    }

    .second-box .cards-wrapper {
        margin-top: 40px;
        width: 66%;
    }

    .transection {
        margin-top: 40px;
        max-width: none;
        width: 30%;
    }

@media screen and (max-width: 1200px) {
    .time {
        display: none;
    }
}
  
@media screen and (max-width: 1200px) {
    .time {
        display: none;
    }
}
